[Desktop Entry]
Encoding=UTF-8
Name=Ссылка на 236×118
Type=Link
URL=https://yandex.ru/images/search?pos=29&from=tabbar&img_url=https%3A%2F%2Fphotoshop-kopona.com%2Fuploads%2Fposts%2F2019-07%2F1564423212_cars_11.jpg&isize=small&text=%D0%BA%D0%B0%D1%80%D1%82%D0%B8%D0%BD%D0%BA%D0%B0+%D0%BC%D0%B0%D1%88%D0%B8%D0%BD%D1%8B+%D0%BA%D0%BB%D0%B8%D0%BF%D0%B0%D1%80%D1%82&rpt=simage
Icon=text-html
