[Desktop Entry]
Encoding=UTF-8
Name=Ссылка на 236×156
Type=Link
URL=https://yandex.ru/images/search?pos=6&from=tabbar&img_url=https%3A%2F%2Fds05.infourok.ru%2Fuploads%2Fex%2F04ec%2F000ab34b-f2d62581%2F11%2Fhello_html_m6585f5fe.jpg&isize=small&text=%D0%BA%D0%B0%D1%80%D1%82%D0%B8%D0%BD%D0%BA%D0%B0+%D0%BC%D0%B0%D1%88%D0%B8%D0%BD%D1%8B+%D0%BA%D0%BB%D0%B8%D0%BF%D0%B0%D1%80%D1%82&rpt=simage
Icon=text-html
