{% extends "base.html" %}

{% block content %}
<h1>Проверь свои баллы для поступления!</h1>
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
        {{ form.username.label }}<br>
        {{ form.username(class="form-control") }}
	{% if not_is_digit %}
		<div class="alert alert-danger" role="alert">
		    В поле могут быть только цифры
	    	</div>
	{% endif %}
	{% if wrong_number %}
		<div class="alert alert-danger" role="alert">
		    Введите корректное число баллов
	    	</div>
	{% endif %}
        {% for error in form.username.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>

    {% endfor %}
    </p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
</form>
{% endblock %}
