{% extends "base.html" %}

{% block content %}
<h1>Проверь свои шансы на поступление!</h1>
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    {% if current_user.is_authenticated %}
        <p>
            {{ form.select}}
            {{ form.submit_subject(type="submit", class="btn btn-primary") }}<br>
            {{ form.score.label }}<br>
            {{ form.score(class="form-control") }}
	        {% if wrong_number %}
		        <div class="alert alert-danger" role="alert">
                    Введите корректное число баллов. От 0 до 500.
                </div>
	        {% endif %}
            {% for error in form.score.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
        <h3>Предстоящие экзамены:</h3>
        <ul style="color: crimson;">
            {% for i in subj %}
                <li>{{ i }}</li>
            {% endfor %}
        </ul>
        <p>{{ form.submit_test(type="submit", class="btn btn-primary") }}</p>
    {% else %}
        <h2>Для начала авторизируйтесь на сайте.</h2>
    {% endif %}
</form>
{% endblock %}